@inherits Arashi.Web.Mvc.Views.AdminViewPageBase
@using Arashi.Web.Areas.Admin.Models

@section head {
	<title>Upload Media</title>
   @{
      Html.RequiresCss("~/Resources/css/src/jquery.ui.plupload.css", 100);

      Html.RequiresJs("~/Resources/js/src/Silverlight.js.js", 100);
      Html.RequiresJs("~/Resources/js/src/plupload.js", 101);
      Html.RequiresJs("~/Resources/js/src/jquery.ui.plupload.js", 102);
      Html.RequiresJs("~/Resources/js/src/admin.mediamanager.upload.js", 103);
      Html.RequiresJs("~/Resources/js/i18n/plupload." + CurrentUICultureName + ".js", 104);
   }
}

@section ScriptPlaceHolder {
   @{ UploadModel uploadModel = new UploadModel(Url); }
   <script type="text/javascript">
      var urlDeleteMedia = '@Url.Action("Delete", "MediaManager", new { siteid = RequestContext.ManagedSite.SiteId })';
      var uploadHandlerName = '/@uploadModel.UploadHandlerName';
      var uploadMaxFileSizeKB = '@uploadModel.MaxFileSizeKB';
      var uploadFilefilter = '@uploadModel.FileFilter';
	</script>
}
@section BreadCrumbsPlaceHolder {
   @(Html.Breadcrumbs(b => b.AddHome("Home", Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId}))
                              .Add("Media Manager", Url.Action("Index", "MediaManager", new {siteid = RequestContext.ManagedSite.SiteId}))
                              .AddCurrent("Upload Media")) )
}


<div id="adminpagetitle">
   <img class="icon" src="/Resources/img/32x32/archive-32.png" alt="list comments" />
   <h2>Upload Media</h2>
</div>
<div class="clear"></div>

<div id="uploader" class="width-600">
	<p>You browser doesn't have Flash, Silverlight, or HTML5 support.</p>
</div>

<br />
   
<div id="adminpagefooter" class="ui-widget">
   <a href='@Url.Action("Index", "MediaManager", new {siteid = RequestContext.ManagedSite.SiteId})'>Back to Media Manager</a>
   &nbsp;|&nbsp;
   <a href='@Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId})'>@GlobalResource("BackToControlPanel")</a>
</div>
   



