@model Arashi.Web.Mvc.Models.TemplateContentModel
 </div>
		   <!-- END CONTENT -->
	</div>
    <!-- END WRAPPER -->
	
	<!-- BEGIN FOOTER -->
	<div id="footer">
	@if (get_option("boldy_footer_actions") != "no") {
		<div style="width:960px; margin: 0 auto; position:relative;">
			<a href="#" id="showHide" @{if(get_option("boldy_actions_hide") == "hidden") { 
            @:'style="background-position:0 -16px"'
            }}>Show/Hide Footer Actions</a>
		</div>
		
		<div id="footerActions" @if(get_option("boldy_actions_hide") == "hidden") {
                             @:'style="display:none"'
                             }
                             >
			<div id="footerActionsInner">
			@if(get_option("boldy_twitter_user") != "" && get_option("boldy_latest_tweet") != "no") {
				<div id="twitter">
					<a href="http://twitter.com/@(get_option("boldy_twitter_user"))" class="action">Follow Us!</a>
					<div id="latest">
						<div id="tweet">
							<div id="twitter_update_list"></div>
						</div>
						<div id="tweetBottom"></div>
					</div>
				</div>
				}					
				<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
				<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/@(get_option("boldy_twitter_user")).json?callback=twitterCallback2&amp;count=
            @if (get_option("boldy_number_tweets") != ""){
					@get_option("boldy_number_tweets")
				}else{
					@:"1";
				}
            ">
				</script>
				<div id="quickContact">
				<p id="success" class="successmsg" style="display:none;">Your email has been sent! Thank you!</p>

				<p id="bademail" class="errormsg" style="display:none;">Please enter your name, a message and a valid email address.</p>
				<p id="badserver" class="errormsg" style="display:none;">Your email failed. Try again later.</p>
					<form action="@(bloginfo("template_url"))/sendmail.php" method="post" id="quickContactForm">
					<div class="leftSide">
						<input type="text" value="your name" id="quickName" name="name" />
						<input type="text" value="your email" id="quickEmail" name="email" />
						<input type="submit" name="submit" id="submitinput" value="Send"/>
					</div>
					<div class="rightSide">
						<textarea id="quickComment" name="comment">your message</textarea>
					</div>
					<input type="hidden" id="quickReceiver" name="receiver" value="@get_option("boldy_contact_email")" />
					</form>
				</div>
			</div>
		</div>
		}
		<div id="footerWidgets">
			<div id="footerWidgetsInner">
				<!-- BEGIN FOOTER WIDGET -->
				@* Widgetized sidebar *@
				@if (!dynamic_sidebar("footer") ){} 
				<!-- END FOOTER WIDGETS -->
				<!-- BEGIN COPYRIGHT -->
				<div id="copyright">
					@if (get_option("boldy_copyright") != ""){
						@get_option("boldy_copyright");
					}else{
						@:'Just go to Theme Options Page and edit copyright text'
					} 
						<div id="site5bottom"><a href="http://www.site5.com/p/modx/">MODx Hosting</a></div>
				</div>
				<!-- END COPYRIGHT -->						
				</div>
				
		</div>
	</div>	
	<!-- END FOOTER -->
</div>
<!-- END MAINWRAPPER -->
@*@if (get_option("boldy_analytics") != "") { 
		stripslashes(stripslashes(get_option("boldy_analytics"))); 
}*@
@wp_footer()
<!-- Cufon init -->
	<script type="text/javascript">
		@if (get_option("boldy_cufon") != "no"){
			@:Cufon.replace('h1',{hover: true})('h2',{hover: true})('h3')('.reply',{hover:true})('.more-link');
      }
	</script>
	<script type="text/javascript">
	   $(document).ready(function () {
	      $('#quickContactForm').ajaxForm(function (data) {
	         if (data == 1) {
	            $('#success').fadeIn("slow");
	            $('#bademail').fadeOut("slow");
	            $('#badserver').fadeOut("slow");
	            $('#contact').resetForm();
	         }
	         else if (data == 2) {
	            $('#badserver').fadeIn("slow");
	         }
	         else if (data == 3) {
	            $('#bademail').fadeIn("slow");
	         }
	      });
	   });
	</script>
</body>
</html>


