@inherits Arashi.Web.Mvc.Views.AdminViewPageBase<DashboardModel>
@using Arashi.Web.Areas.Admin.Models
@using Arashi.Core.Domain

@section head {
	<title>@GlobalResource("ControlPanel")</title>
   @{
      Html.RequiresJs("~/Resources/js/src/jquery-css-transform.js", 101);
      Html.RequiresJs("~/Resources/js/src/jquery-animate-css-rotate-scale.js", 102);
      Html.RequiresJs("~/Resources/js/src/jquery.easing.js", 103);
      Html.RequiresJs("~/Resources/js/src/jquery.quicksand.js", 104);
      
      Html.RequiresJs("~/Resources/js/src/admin.site.home.js", 110);
      Html.RequiresJs("~/Resources/js/src/jquery.flot.js", 111);
      Html.RequiresJs("~/Resources/js/src/jquery.flot.pie.js", 112);
      Html.RequiresJs("~/Resources/js/src/jquery.lavalamp.js", 113);
   }
}

@section ScriptPlaceHolder {
   <script type="text/javascript">
      var showWelcome = @Model.ShowWelcome.ToString().ToLowerInvariant();
      var __tutorial = '@GlobalResource("ShowTutorial")';
      var urlGA = '@Url.Action("QuickStatistics", "GoogleData", new { siteid = RequestContext.ManagedSite.SiteId })';
      var resCollapseThisGroup = '@GlobalResource("CollapseThisGroup")';
      var resExpandThisGroup = '@GlobalResource("ExpandThisGroup")';
   </script>
}

<div id="adminpagetitle">
   <img class="icon" src="/Resources/img/32x32/home.png" alt="" />
   <h2>@GlobalResource("ControlPanel") </h2>
</div>

@if (!string.IsNullOrEmpty(RequestContext.ManagedSite.GoogleDataProfileID) && !string.IsNullOrEmpty(RequestContext.ManagedSite.GoogleDataUserName) && !string.IsNullOrEmpty(RequestContext.ManagedSite.GoogleDataPassword))
{
<a id="showStatistics" href="#" class="ui-widget">Show Statistics from Google</a>
<div id="google-analytics-container">
   <div id="ga-visitspageviews-chart" class="chart"></div>
   <div id="ga-browsers-chart" class="chart"></div>
   @*<div id="ga-visitsbytype-chart" title='@GlobalResource("VisitsByType") ' class="chart"></div>*@
</div>
}
<div class="clear"></div>


<div class="ui-widget">
   <h3 id="category-heading"></h3>
   <ul id="feature-category-container">
      @foreach (FeatureCategory category in Model.FeatureCategories) { 
      <li data-id="category-@category.FeatureCategoryId">
         <div class="feature-category _ui-widget-content _ui-corner-all _ui-shadow">
            <div class="feature-category-img">
               <img src='@category.ImageSrc' alt="@category.Name" />
            </div>
            <h3 class="ui-text-shadow-light">
               @category.Name
            </h3>
            @*<p>
            Crea e modifica articoli, pagine, gestisci le immagini e video.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>*@
         </div>
      </li>    
      }
   </ul>

   <div class="feature-category-features hidden">
      @foreach (FeatureCategory category in Model.FeatureCategories) { 
         <ul id="destination-category-@category.FeatureCategoryId">
         @foreach (SiteFeature item in Model.SiteFeatures.Where(f => f.Feature.Category == category)) {  
            <li data-id="feature-@item.Feature.FeatureId" class="controlpanelicon">
               <a class="ui-widget ui-iconplustext ui-button-text-icon button-icon-right ui-corner-all" 
                  href='@Url.Action(item.Feature.Action, item.Feature.Controller, new {siteid = RequestContext.ManagedSite.SiteId})' >
                  <img src='@item.Feature.ImageSrc ' alt='@item.Feature.ImageAlt ' />
                  <em>
                     <span class="ui-iconplustext-title ui-title">@GlobalResource(item.Feature.Name) </span>
                     <span>@GlobalResource(item.Feature.Name + "Description") </span>
                  </em>
               </a>
               @if (!string.IsNullOrEmpty(item.Feature.NewAction)) { 
                  <div class="new-action">
                     <span class="ui-icon ui-icon-circle-plus"></span>
                     <a class="" href='@Url.Action(item.Feature.NewAction, item.Feature.Controller, new {siteid = RequestContext.ManagedSite.SiteId})' >
                        @GlobalResource(item.Feature.Name + "New") 
                     </a>
                  </div>
               }
            </li>
         }
         </ul>
      }
   </div>
   
</div>


@*
<div class="ui-widget">
   <ul id="feature-category-container">
      @foreach (FeatureCategory category in Model.FeatureCategories) { 
      <li>
         <div class="feature-category ui-widget-content ui-corner-all ui-shadow">
            <div class="feature-category-img">
               <img src='@category.ImageSrc' alt="@category.Name" />
            </div>
            <h3 class="ui-text-shadow-light">
               @category.Name
            </h3>
            <p>
            Crea e modifica articoli, pagine, gestisci le immagini e video.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
         </div>
         <div class="feature-category-features hidden">
            <ul>
            @foreach (SiteFeature item in Model.SiteFeatures.Where(f => f.Feature.Category == category)) {  
               <li class="controlpanelicon">
                  <a class="ui-widget ui-iconplustext ui-button-text-icon button-icon-right ui-corner-all" 
                     href='@Url.Action(item.Feature.Action, item.Feature.Controller, new {siteid = RequestContext.ManagedSite.SiteId})' >
                     <img src='@item.Feature.ImageSrc ' alt='@item.Feature.ImageAlt ' />
                     <em>
                        <span class="ui-iconplustext-title ui-title">@GlobalResource(item.Feature.Name) </span>
                        <span>@GlobalResource(item.Feature.Name + "Description") </span>
                     </em>
                  </a>
                  @if (!string.IsNullOrEmpty(item.Feature.NewAction)) { 
                     <div class="new-action">
                        <span class="ui-icon ui-icon-circle-plus"></span>
                        <a class="" href='@Url.Action(item.Feature.NewAction, item.Feature.Controller, new {siteid = RequestContext.ManagedSite.SiteId})' >
                           @GlobalResource(item.Feature.Name + "New") 
                        </a>
                     </div>
                  }
               </li>
            }
            </ul>
         </div>
      </li>    
      }
   </ul>
   
</div>
*@
<br />
   
<div class="hidden">
   <div id="welcome-dialog" title="Welcome to the Arashi Control Panel">
         <img class="block-align-left" src="/Resources/img/48x48/tutorials.png" alt="tutorial" />
         @GlobalResource("WelcomeDialog") 
         <br />
         <p class="align-center">
            <a id="startTutorial" 
               href="#"
               class="button ui-state-default ui-priority-primary ui-corner-all call-to-action ui-state-active">
            @GlobalResource("StartTheQuickTutorial") 
            </a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a id="closeWelcomeDialog" 
               href="#"
               class="ui-priority-secondary" >
               @GlobalResource("Close") 
            </a>
         </p>
   </div>	
</div>   



