@inherits Arashi.Web.Mvc.Views.AdminViewPageBase<Arashi.Core.Domain.Site>

@section head {
	<title>@GlobalResource("Configuration") </title>
   @{
      Html.RequiresCss("~/Resources/css/src/ui.jqgrid.css", 100);

      Html.RequiresJs("~/Resources/js/i18n/src/grid.locale-" + CurrentUICultureName + ".js", 100);
      Html.RequiresJs("~/Resources/js/src/jquery.jqGrid.js", 101);
      Html.RequiresJs("~/Resources/js/src/admin.site.settings.js", 102);
   }
}
@section ScriptPlaceHolder {
	<script type="text/javascript">
      var urlGetHosts = '@Url.Action("GetHosts", "Site", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlSaveHost = '@Url.Action("SaveHost", "Site", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlAddHost = '@Url.Action("AddHost", "Site", new { siteid = RequestContext.ManagedSite.SiteId })';
      var lastsel;
	</script>
}

@section BreadCrumbsPlaceHolder {
   @Html.Breadcrumbs(b => b.AddHome("Home", Url.Action("Index", "Site", new { siteid = RequestContext.ManagedSite.SiteId }))
                            .AddCurrent(GlobalResource("Configuration")))
}

<div id="adminpagetitle">
   <img class="icon" src="/Resources/img/32x32/settings.png" alt="" />
   <h2>@GlobalResource("Configuration")</h2>
</div>
<div class="clear"></div>

@using (Html.BeginForm("Save", "Site", new { siteid = RequestContext.ManagedSite.SiteId }, FormMethod.Post, new { id = "sitesettingsform", @class = "ui-form-default" })){ 

<div id="tabs">
   @Html.AntiForgeryToken() 
   <ul>
      <li><a href="#tabGeneral"><span>@GlobalResource("SiteSettings_Tab_General") </span></a></li>
      <li><a href="#tabHosts"><span>@GlobalResource("SiteSettings_Tab_Domains")</span></a></li>
      <li><a href="#tabPosts"><span>@GlobalResource("SiteSettings_Tab_Posts") </span></a></li>
      <li><a href="#tabComments"><span>@GlobalResource("SiteSettings_Tab_Comments") </span></a></li>
      <li><a href="#tabCaptcha"><span>@GlobalResource("SiteSettings_Tab_Captcha")</span></a></li>
      <li><a href="#tabAnalytics"><span>@GlobalResource("SiteSettings_Tab_GoogleAnalytics")</span></a></li>
   </ul>
      
   <div id="tabGeneral">
      <ol>
         <li>
            <label for="Name">@GlobalResource("Site_Name")</label>
            @Html.TextBox("Name", Model.Name, new {maxlength = "70", @class = "largetext"}) 
         </li>
         <li>
            <label for="Description">@GlobalResource("Site_Description")</label>
            @Html.TextBox("Description",Model.Description, new {maxlength = "160", @class = "largetext"}) 
         </li>
         <li>
            <label for="Email">@GlobalResource("Site_Email")</label>
            @Html.TextBox("Email", Model.Email, new {maxlength = "100", @class = "largetext"}) 
         </li>
         <li>
            <label for="TimeZone">@GlobalResource("Site_TimeZone")</label>
            @Html.DropDownList("TimeZone", ViewBag.TimeZones as SelectList)
         </li>
@*
         <li>
            <label for="DateFormat">* Nome:</label>
            <%= Html.TextBox("Description",Model.Description, new {maxlength = "100", @class = "largetext"}) %>
         </li>
         <li>
            <label for="TimeFormat">* Nome:</label>
            <%= Html.TextBox("Description",Model.Description, new {maxlength = "100", @class = "largetext"}) %>
         </li>
*@
@* Status is no more supported - Replaced by the MaintenanceFilter 
            <li>
               <label for="Status">Site Status:</label>
               <%= Html.DropDownList("Status", ViewData["SiteStatus"] as SelectList, new {@class = "largetext"}) %>
               &nbsp;
               <% if (Model.Status != SiteStatus.Online) { %>
                  <img src="/Resources/img/16x16/exclamation_diamond_frame.png" alt="alert, site not online!" />
               <% } %>
            </li>
*@
         <li>
            <label for="DefaultCulture">@GlobalResource("Site_DefaultCulture")</label>
            @*@Html.DropDownList("DefaultCulture", ViewBag.Cultures as SelectList, new {@class = "largetext"})*@
            @Html.DropDownListFor(m => m.DefaultCulture, (SelectList)ViewBag.Cultures, new {@class = "largetext"})
         </li>
      </ol>
@*
      <fieldset>
         <legend>Multi language support</legend>
         <div class="form-item">
            <label for="IsCultureSupportEnabledCheckbox">Enable multi language support:</label>
            <%= Html.CheckBox("IsCultureSupportEnabledCheckbox", Model.IsCultureSupportEnabled, new {@class = "checkbox"}) %>
         </div>            
      </fieldset>
*@
   </div>
      
   <div id="tabHosts">
      <p>@GlobalResource("Site_Hosts_Description")</p>
      <br />
      <span class="hint">@GlobalResource("Site_Hosts_Hint1")</span>
      <br />
      <table id="hosts-table" >
         <tbody><tr><td></td></tr></tbody>
      </table>
      <br />
      <fieldset class="ui-widget ui-widget-content ui-corner-all ui-form-default width-450">
         <legend class="ui-widget-header ui-corner-all">@GlobalResource("AddNewDomain")</legend>
         <ol>
            <li>
               <label for="">@GlobalResource("NewDomain")</label>
               <input type="text" id="newhostname" name="newhostname" class="mediumtext" />
            </li>
            <li>
               <label>&nbsp;</label>
               <a id="newsitehost-button" class="button ui-shadow" href="#">@GlobalResource("Save")</a>
            </li>
         </ol>
      </fieldset>
   </div>
      
   <div id="tabPosts">
      <ol class="longlabel">
         <li>
            <label>@GlobalResource("Site_DefaultPage")</label>
            <input type="radio" id="home-latestpost" name="homepage" value="latest-post" @Model.DefaultPage == null ? "checked='checked'" : string.Empty />
               
            <label for="home-latestpost">@GlobalResource("LatestPosts")</label>
         </li>
         <li>
            <label>&nbsp;</label>
            <input type="radio" id="home-page" name="homepage" value="page" @Model.DefaultPage != null ? "checked='checked'" : string.Empty  />
            <label id="defaultpage-label" for="PagesForHomePage">@GlobalResource("Site_PagesForHomePage")</label>
            @Html.DropDownList("PagesForHomePage", ViewData["Pages"] as SelectList, "", new {@class = "mediumtext"}) 
         </li>
         <li>
            <label for="MaxPostsPerPage">@GlobalResource("Site_MaxPostsPerPage") </label>
            @Html.TextBox("MaxPostsPerPage", Model.MaxPostsPerPage, new {maxlength = "2", @class = "shorttext"}) 
         </li>
         <li>
            <label for="MaxSyndicationFeeds">@GlobalResource("Site_MaxSyndicationFeeds") </label>
            @Html.TextBox("MaxSyndicationFeeds", Model.MaxSyndicationFeeds, new {maxlength = "2", @class = "shorttext"}) 
         </li>
         <li>
            <label>@GlobalResource("ForEachArticleInAFeedShow")</label>
               
            @Html.RadioButton("FeedUseSummary", false, Model.FeedUseSummary, new {id = "feed-full"})
            <label for="feed-full">@GlobalResource("Site_FeedUseSummary_FullContent")</label>
         </li>
         <li>
            <label>&nbsp;</label>
               
            @Html.RadioButton("FeedUseSummary", true, Model.FeedUseSummary, new {id = "feed-summary"})
            <label for="feed-summary">@GlobalResource("Site_FeedUseSummary_Summary")</label>
         </li>
      </ol>
   </div>
      
   <div id="tabComments">
      <ol class="longlabel">
         <li>
            <label for="AllowPings" >@GlobalResource("Site_AllowPings")</label>
            @Html.CheckBox("AllowPings", Model.AllowPings)
         </li>
         <li>
            <label for="AllowComments" >@GlobalResource("Site_AllowComments")</label>
            @Html.CheckBox("AllowComments", Model.AllowComments)
         </li>
         <li>
            <label for="AllowCommentsOnlyForRegisteredUsers" >@GlobalResource("Site_AllowCommentsOnlyForRegisteredUsers")</label>
            @Html.CheckBox("AllowCommentsOnlyForRegisteredUsers", Model.AllowCommentsOnlyForRegisteredUsers)
         </li>
         <li>
            <label for="MaxCommentsPerPage">@GlobalResource("Site_MaxCommentsPerPage")</label>
            @Html.TextBox("MaxCommentsPerPage", Model.MaxCommentsPerPage, new {maxlength = "2", @class = "shorttext"}) 
         </li>
         <li>
            <label for="SortCommentsFromOlderToNewest">@GlobalResource("Site_SortCommentsFromOlderToNewest")</label>
            @Html.CheckBox("SortCommentsFromOlderToNewest", Model.SortCommentsFromOlderToNewest)
         </li>
         <li>
            <label for="SendEmailForNewComment">@GlobalResource("Site_SendEmailForNewComment")</label>
            @Html.CheckBox("SendEmailForNewComment", Model.SendEmailForNewComment)
         </li>
         <li>
            <label for="SendEmailForNewModeration">@GlobalResource("Site_SendEmailForNewModeration")</label>
            @Html.CheckBox("SendEmailForNewModeration", Model.SendEmailForNewModeration)
         </li>
         <li>
            <label for="ShowAvatars">@GlobalResource("Site_ShowAvatars")</label>
            @Html.CheckBox("ShowAvatars", Model.ShowAvatars)
         </li>
      </ol>
         
      <br />
         
      <fieldset class="ui-widget-content ui-corner-all">
         <legend class="ui-widget-header ui-corner-all">@GlobalResource("Moderation")</legend>
         <ol class="longlabel">
            <li>
               <label for="MaxLinksInComments">@GlobalResource("Site_MaxLinksInComments")</label>
               @Html.TextBox("MaxLinksInComments", Model.MaxLinksInComments, new {maxlength = "2", @class = "shorttext"}) 
            </li>
            <li>
               <label for="ModerationKeys">@GlobalResource("Site_ModerationKeys")</label>
               @Html.TextArea("ModerationKeys", Model.ModerationKeys, 6, 30, new {@class = "largetext"}) 
               <span class="hint">@GlobalResource("Site_Keys_Hint") </span>
            </li>
            <li>
               <label for="BlacklistKeys">@GlobalResource("Site_BlacklistKeys") </label>
               @Html.TextArea("BlacklistKeys", Model.BlacklistKeys, 6, 30, new {@class = "largetext"}) 
               <span class="hint">@GlobalResource("Site_Keys_Hint") </span>
            </li>
         </ol>
      </fieldset>
   </div>
      
   <div id="tabCaptcha">
      <p class="block-align width-600">
         @GlobalResource("Site_Captcha_Message1") 
      </p>
      <a class="block-align" href="http://recaptcha.net/" title="Go to the reCaptcha site">
         <img src="/Resources/img/recaptcha_logo.png" alt="recaptcha logo" />
      </a>
      <ol class="longlabel">
         <li>
            <label for="EnableCaptchaForComments">@GlobalResource("Site_EnableCaptchaForComments")</label>
            @Html.CheckBox("EnableCaptchaForComments", Model.EnableCaptchaForComments)
            <span class="hint">@GlobalResource("Site_EnableCaptchaForComments_Hint")</span>
         </li>
      </ol>
      <br />
      <fieldset class="ui-widget-content ui-corner-all">
         <legend class="ui-widget-header ui-corner-all">@GlobalResource("Site_ReCaptchaSettings")</legend>
         <ol>
            <li>
               <label for="CaptchaPrivateKey">@GlobalResource("Site_CaptchaPrivateKey")</label>
               @Html.TextBox("CaptchaPrivateKey", Model.CaptchaPrivateKey, new {@class = "largetext"}) 
            </li>
            <li>
               <label for="CaptchaPublicKey">@GlobalResource("Site_CaptchaPublicKey")</label>
               @Html.TextBox("CaptchaPublicKey", Model.CaptchaPublicKey, new {@class = "largetext"}) 
            </li>
         </ol>
      </fieldset>         
   </div>
      
   <div id="tabAnalytics">
      <p>@GlobalResource("Site_TrackingCode")</p>
      <ol>
         <li>
            <label for="TrackingCode">&nbsp;</label>
            @Html.TextBox("TrackingCode", Model.TrackingCode, new {@class = "mediumtext"}) 
         </li>
         <li>
            @Html.LabelFor(m => m.GoogleDataUserName, GlobalResource("Site_GoogleDataUserName"))
            @Html.TextBoxFor(m => m.GoogleDataUserName) 
         </li>
         <li>
            @Html.LabelFor(m => m.GoogleDataPassword, GlobalResource("Site_GoogleDataPassword"))
            @Html.PasswordFor(m => m.GoogleDataPassword) 
         </li>
         <li>
            @Html.LabelFor(m => m.GoogleDataProfileID, GlobalResource("Site_GoogleDataProfileID"))
            @Html.TextBoxFor(m => m.GoogleDataProfileID)
         </li>
      </ol>
   </div>
</div>
   
<div id="adminpagefooter" class="ui-widget">
   @Html.SubmitUI(GlobalResource("Save")) 	
   &nbsp;|&nbsp;
   <a href='@Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId})'>@GlobalResource("BackToControlPanel")</a>
</div>
   
}  
   


