@inherits Arashi.Web.Mvc.Views.AdminViewPageBase<Arashi.Web.Areas.Admin.Models.ThemesModel>
@using Arashi.Core.Domain

@section head {
	<title>Themes</title>
}
@section BreadCrumbsPlaceHolder {
   @(Html.Breadcrumbs(b => b.AddHome("Home", Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId}))
                              .AddCurrent("Themes")) )
}


<div id="adminpagetitle">
   <img class="icon" src="/Resources/img/32x32/themes.png" alt="themes list" />
   <h2>Themes</h2>
</div>
<div class="clear"></div>

<div class="ui-widget">
      @if (Model.Themes != null){ 
      <ul id="theme-selector">
         @foreach (Theme theme in Model.Themes) { 
         <li>
            <div class="ui-widget-content ui-corner-all">
               <h3>
                  @theme.Name
               </h3>
               <div class="theme-thumbnail">
                  <img width="240px" src='@Url.RouteUrl("GetThumbnail", new {path = theme.EncodedThumbnailVirtualPath, width = 240, height = 240})  ' alt="theme thumbnail" />
               </div>
               <div class="theme-button">
                  @if (Model.CurrentTheme != theme) { 
                     <a href='@Url.Action("Change", "Themes", new { siteid = RequestContext.ManagedSite.SiteId, id = theme.ThemeId })' class="button ui-shadow" >
                        Use this theme
                     </a>
                  } else { 
                     <div class="current ui-state-highlight">
                        <span class="">&nbsp;In Use&nbsp;</span>
                     </div>
                  } 
               </div>
               @if (Model.CurrentTheme == theme && !string.IsNullOrEmpty(Model.CurrentTheme.CustomOptionsAssembly))
               { 
                  <div class="theme-button">
                     <a href='@Url.Action(Model.CurrentTheme.CustomOptionsAction, Model.CurrentTheme.CustomOptionsController, new { siteid = RequestContext.ManagedSite.SiteId })' class="button ui-shadow" >
                        Edit Options
                     </a>
                  </div>
               }
            </div>
         </li>
         } 
         </ul>
         } else { 
         <span>No theme exists...</span>
         } 
</div>

<br />
   
<div id="adminpagefooter" class="ui-widget">
   <a href='@Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId})'>@GlobalResource("BackToControlPanel")</a>
</div>
   


