@inherits Arashi.Web.Mvc.Views.AdminViewPageBase<Post>
@using Arashi.Core.Domain.Extensions
@using Arashi.Core.Extensions
@using Arashi.Web.Areas.Admin.Models
@using Arashi.Core.Domain

@section head {
	<title>@GlobalResource("EditPost")</title>
   @{
      Html.RequiresJs("~/Resources/js/src/admin.post.edit.js", 100);
   }
}

@section ScriptPlaceHolder {
   <script type="text/javascript">
      // global documents vars
      var currentSiteId = '@RequestContext.ManagedSite.SiteId';
      var urlSaveNewTag = '@Url.Action("SaveNew", "AdminTag", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlSaveNewCategory = '@Url.Action("SaveNew", "AdminCategory", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlGetTagCloud = '@Url.Action("GetTagsFormatted", "AdminTag", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlGetTagId = '@Url.Action("GetTagId", "AdminTag", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlUpdatePermalink = '@Url.Action("UpdatePermalink", "AdminContentItem", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlBrowse = '@Url.Action("Browse", "MediaManager", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlGetCustomFields = '@Url.Action("GetCustomFields", "AdminContentItem", new { siteid = RequestContext.ManagedSite.SiteId, contentItemId = Model.Id })';
      var urlSaveNewCustomField = '@Url.Action("SaveCustomField", "AdminContentItem", new { siteid = RequestContext.ManagedSite.SiteId })';
      var urlUpdateCustomFields = '@Url.Action("UpdateCustomFields", "AdminContentItem", new { siteid = RequestContext.ManagedSite.SiteId, contentItemId = Model.Id })';
      var lastsel;
      var localized_Editor_AddMedia = '@GlobalResource("Editor_AddMedia")';
      var localized_Editor_More = '@GlobalResource("Editor_More")';
	</script>
   @Html.HtmlEditorScripts() 
}

@section BreadCrumbsPlaceHolder {
   @(Html.Breadcrumbs(b => b.AddHome("Home", Url.Action("Index", "Site", new {siteid = RequestContext.ManagedSite.SiteId}))
                              .Add("Posts", Url.Action("Index", "AdminPost", new {siteid = RequestContext.ManagedSite.SiteId}))
                              .AddCurrent("Edit Post")) )
}


@using(Html.BeginForm("Update", "AdminPost", new { siteid = RequestContext.ManagedSite.SiteId, id = Model.Id }, FormMethod.Post, new { id = "editpostform", @class = "_ui-form-default" })) { 
   <div id="adminpagetitle">
      @Html.AntiForgeryToken() 
      <img class="icon" src="/Resources/img/32x32/word.png" alt="edit post" />
      <h2>@GlobalResource("EditPost")</h2>
      <div class="clear"></div>

      <br />
      <div class="ui-widget ui-helper-clearfix">
         <span>
            @GlobalResource("CurrentStatus"):&nbsp;<strong>@GlobalResource("WorkflowStatus_" + Model.WorkflowStatus.ToString())</strong>
            @if (Model.PublishedDate.HasValue && Model.WorkflowStatus == WorkflowStatus.Published ) { 
               @:&nbsp;@GlobalResource("On")&nbsp;
               @Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).ToShortDateString()@:&nbsp;@@&nbsp;@Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).ToShortTimeString().Replace(" ", "&nbsp;") 
            }
            &nbsp;
            <a id="change-status-link" href="#">@GlobalResource("Edit")</a>
         </span>
         <div id ="change-status-panel" class="hidden ui-widget ui-widget-content ui-corner-all ui-form-default">
            <ol class="shortlabel">
               <li>
                  <label>@GlobalResource("ChangeDate")</label>
                  <span>
                     @if (Model.PublishedDate.HasValue) { 
	                     @Html.DropDownList("Month", ViewData["MonthsList"] as SelectList)
	                     @Html.TextBox("Day", Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Day.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
	                     @:,
	                     @Html.TextBox("Year", Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Year, new {@class = "shorttext"}) 
                        @:@@
	                     @Html.TextBox("Hour", Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Hour.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
	                     @::
	                     @Html.TextBox("Minute", Model.PublishedDate.Value.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Minute.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
                     } else { 
	                     @Html.DropDownList("Month", ViewData["MonthsList"] as SelectList)
	                     @Html.TextBox("Day", DateTime.Now.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Day.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
	                     @:,
	                     @Html.TextBox("Year", DateTime.Now.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Year, new {@class = "shorttext"}) 
                        @:@@
	                     @Html.TextBox("Hour", DateTime.Now.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Hour.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
	                     @::
	                     @Html.TextBox("Minute", DateTime.Now.AdjustDateToTimeZone(RequestContext.CurrentUser.TimeZone).Minute.ToString().PadLeft(2, '0'), new {@class = "veryshorttext"}) 
                     } 
                  </span>
               </li>
               <li>
                  <label>@GlobalResource("ChangeStatusTo")</label>
                  @Html.DropDownList("WorkflowStatusList", new SelectList(ViewBag.WorkflowStatusList, "Key", "Value"), string.Empty)
               </li>
            </ol>
         </div>
      </div>
   </div>
   <div class="clear"></div>

   <div id="tabs">
      <ul>
         <li><a href="#tabContent"><span>@GlobalResource("Content")</span></a></li>
         <li><a href="#tabTags"><span>@GlobalResource("Tags")</span>&nbsp;<span class="infoball ui-widget ui-state-active ui-corner-all ui-shadow">@Model.Tags.Count.ToString()</span></a></li>
         <li><a href="#tabCategories"><span>@GlobalResource("Categories")</span>&nbsp;<span class="infoball ui-widget ui-state-active ui-corner-all ui-shadow">@Model.Categories.Count.ToString()</span></a></li>
         <li><a href="#tabCustomFields"><span>@GlobalResource("CustomFields")</span>&nbsp;<span class="infoball ui-widget ui-state-active ui-corner-all ui-shadow">@Model.CustomFields.Count.ToString()</span></a></li>
         <li><a href="#tabSeo"><span>SEO</span></a></li>
      </ul>
      
      <div id="tabContent">
         <div class="ui-widget">
            <h3>@GlobalResource("Title")</h3>
	         @Html.TextBox("Title", Model.Title, new { @class = "width-99perc" })
            <div id="post-permalink">
               <a id="post-permalink-edit" href="#">@GlobalResource("EditPermalink")</a>
               <div id="post-permalink-edit-container" class="hidden">
                  <div class="ui-form-default">
                     <strong>Permalink:</strong>&nbsp;
                     @string.Concat(RequestContext.ManagedSite.DefaultUrl(), Model.PublishedDate.Value.Year.ToString())/@Model.PublishedDate.Value.Month.ToString().PadLeft(2, '0')/@Model.PublishedDate.Value.Day.ToString().PadLeft(2, '0')/@Html.TextBox("FriendlyName", Model.FriendlyName, new {@class = "largetext"})
                     &nbsp;
                     <a id="post-permalink-edit-submit" 
                        href="#" 
                        rel="@Model.Id"
                        class="button">
                        @GlobalResource("Save") 
                     </a>
                     &nbsp;|&nbsp;
                     <a id="post-permalink-edit-cancel" href="#" class="ui-priority-secondary">@GlobalResource("Cancel")</a>
                  </div>
               </div>
            </div>

            <br />

            <h3>@GlobalResource("Content")</h3>
	         @Html.HtmlEditor("Content", Model.Content)

            @if (string.IsNullOrEmpty(Model.Summary)) { 
               <a id="showSummaryLink" class="button-secondary" href="#">@GlobalResource("DoYouWantToSpecifyTheSummaryForThisPost")?</a>
               <br />
            } 

            <div id="summaryFieldset" class='@(string.IsNullOrEmpty(Model.Summary) ? "hidden" : "")'>
               <h3>@GlobalResource("Summary")</h3>
	            @Html.TextArea("Summary", Model.Summary, new {@class = "width-100perc"})
            </div>
            <br />

            <h3>
               @GlobalResource("Comments") 
               @if (Model.Comments.Count > 0) { 
                  @:&nbsp;(@Model.Comments.Count.ToString())
               } 
            </h3>
            <ol class="longlabel">
               <li>
                  @Html.LabelFor(m => m.AllowComments, GlobalResource("AllowCommentsOnThisPost"))
                  @Html.CheckBoxFor(m => m.AllowComments) 
               </li>
               <li>
                  @Html.LabelFor(m => m.AllowPings, GlobalResource("AllowTrackbacksPingbacksOnThisPost"))
                  @Html.CheckBoxFor(m => m.AllowPings)
               </li>
               @if (Model.Comments.Count > 0) { 
                  <li>
                     <a id="showCommentsLink" class="button-secondary" href="#">@GlobalResource("ShowComments")</a>
                  </li>
                  }                
            </ol>

         </div>
      </div>

      <div id="tabTags">
         <div>
            <span><strong>@GlobalResource("TagsUsedByThisPost"):</strong></span>
               
            <ul id="tagchecklist">
               <li id="tagchecklist-empty" class='@(Model.Tags.Count == 0 ? "" : "hidden")'>
                  <span>@GlobalResource("Message_NoTagsAssociated")</span>
               </li>
               @foreach (Tag tag in Model.Tags) { 
               <li>
                  <div class="tag">
                     @tag.Name 
                     <input id='tagid-@(tag.TagId.ToString())' name="tagid" 
                              type="hidden" 
                              value='@tag.TagId.ToString()' />
                  </div>
                  <a title='@GlobalResource("RemoveThisTag")' href="#" class="tag-remove" >
                     <span class="ui-icon ui-icon-circle-close" ></span>
                     @GlobalResource("Remove") 
                  </a>
               </li>
                } 
            </ul>
         </div>
         <hr />
         <div>
            <span><strong>@GlobalResource("ChooseATagFromThese"):</strong></span>
            <div id="tab-tag-selection">
               <ul>
                  <li><a href="#tabPopular"><span>@GlobalResource("Popular")</span></a></li>
                  <li><a href="#tabAll"><span>@GlobalResource("All")</span></a></li>
                  <li><a href="#tabAdd"><span>@GlobalResource("AddNew")</span></a></li>
               </ul>
               <div id="tabPopular">
                  <span>@GlobalResource("Message_NoTagsPopular")</span>
               </div>
               <div id="tabAll">
                  @if (ViewBag.SiteTags.Count == 0) { 
                     <span>@GlobalResource("Message_NoTags")</span>
                   } else { 
                     <label>@GlobalResource("SelectATagFromTheList"):</label>
                     <br />
                     <select id="all-tags-select">
                         @*@Html.RenderPartial("TagList", ViewBag.SiteTags) *@
                        <option value=""></option>
                        @{ foreach (Tag tag in ViewBag.SiteTags) { 
                           <option value='@tag.TagId.ToString()'>@tag.Name</option>
                        }}
                     </select>
                   } 
               </div>
               <div id="tabAdd">
      	         <div id="newtagform" class="ui-form-default">
                     <ol>
                        <li class="vertical">
                           <label>@GlobalResource("Name")</label>
                           @Html.TextBox("TagName") 
                           <span class="hint">@GlobalResource("SeparateTagsWithCommas")</span>
                        </li>
                        <li class="align-right">
                           <a id="submitNewTagLink" 
                              class="button ui-shadow" 
                              href="#" >@GlobalResource("Add")</a>
                        </li>
                     </ol>
                  </div>
               </div>
            </div>               
         </div>
      </div>

      <div id="tabCategories">
         <span><strong>@GlobalResource("CategoriesUsedByThisPost"):</strong></span>
         <ol>
            @foreach (Category category in ViewBag.SiteCategories) { 
               <li>
                  @for (int level = 0; level < category.Level; level++) { 
                     @:&nbsp;&nbsp;&nbsp;&nbsp;
                  } 
			         <input id='category_@(category.Id)' name="categoryid" 
			                  type="checkbox"
			                  @if (Model.Categories.Contains(category)) { 
			                     @:checked="checked" 
			                  } 
			                  value="@category.Id" />
			         <label for="category_@(category.Id)">@category.Name</label>
               </li>
             } 
            @if (ViewBag.SiteCategories.Count == 0) { 
               <li>
                  <span>@GlobalResource("Message_NoCategories") </span>
               </li>
             } 
         </ol>
         <hr />
         <a id="addNewCategoryLink" href="#" class="button-secondary" >@GlobalResource("AddANewCategory")</a>
         <fieldset id="newCategoryPanel" class="margin-top hidden">
         	<div id="newcategoryform" class="ui-form-default">
               <ol>
                  <li class="vertical">
                     <label>@GlobalResource("Name")</label>
                     @Html.TextBox("CategoryName") 
                  </li>
                  <li class="vertical">
                     <label>@GlobalResource("ParentCategory")</label>
                     @*@Html.DropDownList("ParentCategory", ViewBag.SiteCategoriesSelectList, "") *@
                     @Html.DropDownList("ParentCategory", new SelectList(ViewBag.SiteCategories, "Id", "Name"), string.Empty) 
                  </li>
                  <li class="align-right">
                     <a id="submitNewCategoryLink" 
                        href="#"
                        class="button ui-shadow" >
                        @GlobalResource("Add") 
                     </a>
                  </li>
               </ol>
            </div>
         </fieldset>
      </div>

      <div id="tabCustomFields">
         <ol>
            <li>
               <table id="table-customfields" >
                  <tbody><tr><td></td></tr></tbody>
               </table>
            </li>
            @if (Model.CustomFields.Count() == 0) { 
               <li>
                  <span>@GlobalResource("Message_NoCustomField")</span>
               </li>
             } 
         </ol>
         <br />
         <a id="addNewCustomFieldLink" href="#" class="button-secondary" >@GlobalResource("AddANewCustomField")</a>
         <fieldset id="newCustomFieldPanel" class="margin-top hidden">
         	<div id="customfield-form" class="ui-form-default width-400">
               <ol>
                  <li class="vertical">
                     <label>@GlobalResource("Key")</label>
                     @Html.TextBox("Key", string.Empty, new { @class = "largetext" })
                  </li>
                  <li class="vertical">
                     <label>@GlobalResource("Value")</label>
                     @Html.TextArea("Value", string.Empty, 2, 20, new { @class = "largetext" }) 
                  </li>
                  <li class="">
                     <input type="hidden" id="contentitemid" name="contentitemid" value="@Model.Id.ToString()" />
                     <a id="submitNewCustomFieldLink" 
                        href="#"
                        class="button" >
                        @GlobalResource("Add") 
                     </a>
                  </li>
               </ol>
            </div>
         </fieldset>      
      </div>

      <div id="tabSeo" class="ui-form-default">
         <p>@GlobalResource("EnableMetaDescription")&nbsp;<a href='@Url.Action("Index", "Seo", new {siteid = RequestContext.ManagedSite.SiteId})'>@GlobalResource("SEOSettings")</a></p>
         <ol>
            <li>
               <label for="Post_EnableMeta">@GlobalResource("EnableMeta")</label>
               @Html.CheckBoxFor(m => m.EnableMeta)
            </li>
            <li>
               <label for="Post_MetaDescription">@GlobalResource("MetaDescription")</label>
               @Html.TextAreaFor(m => m.MetaDescription, 4, 40, new { @class = "largetext" }) 
            </li>
            <li>
               <label for="Post_MetaKeywords">@GlobalResource("MetaKeywords")</label>
               @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "largetext" }) 
            </li>
         </ol>
      </div>
   </div>
   

   <div id="adminpagefooter" class="ui-widget">
      @Html.SubmitUI(GlobalResource("SaveMyUpdates"))
      &nbsp;|&nbsp;
      <a href='@Url.Action("Index", "AdminPost", new {siteid = RequestContext.ManagedSite.SiteId})'>
         @GlobalResource("BackToPostsList")
      </a>
   </div>

 } 



